# Dependencies
dart/pubspec.lock
dart/.dart_tool/
dart/.packages
.dart_tool/

# Build output
native/build/
native/third_party/
*.o
*.so
*.dylib
*.dll
*.lib

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Generated
dart/lib/src/engine/bindings.g.dart

# this fucker
native/.cache

# Dart compiled example executable
dart/build/

Session.vim
hooks_runner/

libtennoji.txt

the_great_musecond_save.md
example/out.mp4
